node_modules/
.env
.env.local
.env.*.local
dist/
build/
out/
*.log
logs/
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode-test-result.xml
.vscode/settings.json
.vscode/launch.json
cactus-*.exe
cactus-*.dmg
cactus-*.apk
.next/
out/
.nuxt
dist
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vercel
.firebase
.env.production.local
.env.development.local
.env.test.local
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
